catboost==0.24.1
empyrical==0.5.3
joblib==0.13.2
hyperopt==0.2.4
hpsklearn==0.1.0
flask_cors==3.0.9
numpy==1.16.4
matplotlib==3.1.0
lightgbm==3.0.0
shap==0.36.0
scipy==1.4.1
seaborn==0.9.0
scikit-learn==0.23.2
tqdm==4.47.0
optml==0.2.3
pandas==1.0.3
plotly==4.6.0
xgboost==1.0.2
yfinance==0.1.54

TA_Lib-0.4.18-cp37-cp37m-win_amd64.whl
